#content {
   /* height: 20rem; */
  /* background-color: forestgreen; */
  /* background:rgba(255,255,255,0.5); */

   background-image: url('/img/andy-falconer-unsplash.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   min-height: 637px;


  /* background-size: auto 200%; */
  /* background: linear-gradient(45deg, black, gray); */
  /* opacity: 0.9; */
}

.navy{
  /* margin-left: 68rem; */
  border-bottom: none;
}

.nav-tabs {
   border-bottom: none !important;
}

/* container for logo */
.logo-container{
  /* height:5rem; */
}

.logo-img{
  /* border: 1px solid white; */
  margin: 9% 9%;
}

#nav-tabContent{
  border-top: 1px solid white;
  color: white;
}

.logo{
  border: 1px solid white;

}


/* Menu */

.card{
  width: 17rem;
  /* max-height: 22rem !important; */
}

.card-body{
  color: black !important;
}

.cuisine-banner{
  border: 1px solid white;
  color: black;
  background-color: white;
}

.cuisine {
  /* width: 25rem; */
}

.soups {
  /* width: 25rem; */
}

/* Contact */

.card-contact {
  /* max-width: 540px; */
  width: 50rem;
}
