#content {
   /* height: 20rem; */
  /* background-color: forestgreen; */
  /* background:rgba(255,255,255,0.5); */

   background-image: url('/img/andy-falconer-unsplash.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   height: 100vh;


  /* background-size: auto 200%; */
  /* background: linear-gradient(45deg, black, gray); */
  /* opacity: 0.9; */
}

.navy{
  /* margin-left: 68rem; */
  border-bottom: none;
}

.nav-tabs {
   border-bottom: none !important;
}

/* container for logo */
.logo-container{
  /* height:5rem; */
}

.logo-img{

}

#nav-tabContent{
  border-top: 1px solid white;
  color: white;
}

.logo{
  border: 1px solid white;
  height: 5rem;
}



